:root {
  --Red: hsl(0, 100%, 68%);
  --Very-Dark-Blue: hsl(230, 29%, 20%);
  --Dark-Grayish-Blue: hsl(230, 11%, 40%);
  --Grayish-Blue: hsl(231, 7%, 65%);
  --Light-Grayish-Blue: hsl(207, 33%, 95%);
  --fs-400: 1.125rem;

  --inner-inline-margin: 32px;
  --header-height: 100px;
  --img-height: 245px;
  --logo-size: 23px;
  --fs-700: clamp(2.5rem, 4vw + 1.5rem, 4rem);
}
body {
  margin: 0;
  font-size: var(--fs-400);
  font-family: 'Barlow Condensed', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
button{
  font-family: 'Barlow Condensed', sans-serif;
}


/* --------  background styles  -------- */

.wrapper {
  max-width: calc(1440px - 2 * var(--inner-inline-margin));
  padding: 0 var(--inner-inline-margin);
  position: relative;
  overflow-x: hidden;
  z-index: 0;
}
.wrapper::before {
  content: "";
  position: absolute;
  width: 49%;
  height: min(55%, 430px);
  right: 0;
  top: 0;
  background-color: var(--Light-Grayish-Blue);
  border-bottom-left-radius: 64px;
  z-index: -2;
}

/* --------  header styles  -------- */

/* flex container */
.header,
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  min-height: var(--header-height);
  margin-bottom: 24px;
  position: relative;
}
.header .menu-icon{
  width: 24px;
  height: 20px;
  background-image: url(./images/icon-hamburger.svg);
  background-position: center;
  background-size: 100%;
  background-repeat:  no-repeat;
}

.header .logo {
  width: var(--logo-size);
}


.header .nav a {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--Very-Dark-Blue);
}
.header .nav a:hover {
  text-decoration: underline;
}
.header .nav a.login {
  color: var(--Grayish-Blue);
  padding-bottom: 10px;
}
.header .nav .separator {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--Grayish-Blue);
}

@media (max-width: 900px) {
  .header .nav {
    display: none;
    align-items: center;
    justify-content: stretch;
    justify-items: center;
    position: absolute;
    top: 100%;
    width: 100%;
    min-height: 0;
    opacity: 0;
    z-index: 10;
    background-color: #fff;
    animation: hideMenu .3s ease forwards;
  }
  .header .menu-icon.show {
    background-image: url(./images/icon-close.svg);
  }
  .header .nav.show {
    display: grid;
    
    animation: showMenu .5s ease forwards;
  }
  .header .nav.show .separator {
    width: 90%;
    height: .5px;
  }
  @keyframes showMenu {
    to {
      opacity: 1;
      min-height: 230px;
    }
  }
  @keyframes hideMenu {
    from {
      display: grid;
      opacity: 1;
      min-height: 230px;
    }
    to {
      display: none;
      opacity: 0;
      min-height: 0;
    }
  }
}

/* --------  main styles  -------- */

main {
  background-color: transparent;
  display: flex;
  flex-direction: column-reverse;
  row-gap: 75px;
}
main .hero {
  min-height: calc(100vh - var(--header-height));
  min-width: 330px;
}

main .img-container .hero-img {
  position: relative;
  left: -23px;
  top: -5px;
  height: var(--img-height);
}
main .hero .new {
  display: flex;
  align-items: center;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  column-gap: 1rem;
  font-size: 16px;
  margin-block: 0.25rem;
  color: var(--Grayish-Blue);
}
main .hero .new span {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  color: white;
  background-color: var(--Very-Dark-Blue);
  font-weight: 700;
  width: 47px;
  height: 25px;
  border-radius: 15px;
}
main .hero h1 {
  text-transform: uppercase;
  max-width: 17ch;
  font-size: var(--fs-700);
  margin-block: 1rem 1.1rem;
  line-height: 100%;
  color: var(--Very-Dark-Blue);
}
main .hero .details {
  max-width: 31ch;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin-block: 0.25rem 2rem;
  line-height: 113%;
  color: var(--Very-Dark-Blue);
}
main .hero .demo {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
}
main .hero .demo button {
  cursor: pointer;
  padding-inline: 23px;
  padding-block: 14px 12px;
  font-size: 12px;
  letter-spacing: 2px;
  border-radius: 4px;
  background-color: var(--Red);
  border: none;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}
main .hero .demo button:hover{
  opacity: .75;
}
main .hero .demo p {
  margin-block: 0;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: var(--Grayish-Blue);
  font-size: 14px;
}

/* --------  media queries  -------- */

@media screen and (max-width: 360px) {
  :root {
    --inner-inline-margin: 16px;
    --img-height: 205px;
  }
  main .hero {
    min-width: 290px;
  }
  main .hero h1 {
    font-size: 2.125rem;
  }
  main .hero .demo {
    gap: 0.75rem;
  }
  main .hero .demo button {
    padding-inline: 16px;
  }
}
@media screen and (min-width: 440px) {
  :root {
    --inner-inline-margin: 48px;
    --img-height: 285px;
  }
  main {
    row-gap: 65px;
  }
}
@media screen and (min-width: 540px) {
  :root {
    --inner-inline-margin: 64px;
    --img-height: 335px;
  }
  main {
    row-gap: 57.5px;
  }
}
@media screen and (min-width: 640px) {
  :root {
    --inner-inline-margin: 80px;
    --img-height: 375px;
  }
  main {
    row-gap: 50px;
  }
}
@media screen and (min-width: 720px) {
  :root {
    --inner-inline-margin: 40px;
    --header-height: 160px;
    --logo-size: revert;
  }
  .header {
    margin-bottom: 94px;
  }
  
  main {
    flex-direction: revert;
  }
  main .img-container .hero-img {
    left: revert;
    right: -65px;
    
  }
}
@media screen and (min-width: 900px) {
  main .img-container .hero-img {
    right: -185px;
  }
  .header .menu-icon{
    display: none;
  }
  .header .nav{
    display: flex;
    justify-content: space-between;
    column-gap: 46px;
  }
}
@media screen and (min-width: 1100px) {
  main .img-container .hero-img {
    height: 402px;
    right: -224px;
  }
}
@media screen and (min-width: 1400px) {
  .wrapper {
    margin: auto;
  }
  :root {
    --inner-inline-margin: 164px;
  }
  main .hero{
    min-width: 480px;
  }

  main .hero h1 {
    margin-bottom: 32px;
  }
  main .img-container .hero-img {
    height: 462px;
    right: -104px;
    top: -44px;
  }
  main .hero .details{
    margin-block: 0.25rem 4.375rem;
  }
  main .hero .demo {
    gap: 26px;
  }
  main .hero .demo button{
    padding-inline: 33px;
    padding-block: 17px 15px;
    font-size: 14px;
  }
  main .hero .demo p {
    letter-spacing: 5px;
  }
}